<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxygzl.biz.mapper.MenuMapper">

    <select id="selectChildrenByMenu" resultType="com.cxygzl.biz.entity.Menu">
        with RECURSIVE cte as(
            select a.id, a.name `name` from menu a where id = #{menuId}
            union all
            select k.id, k.name `name` from menu k inner join cte c on c.id = k.parent_id
        )select * from cte
    </select>

    <select id="selectParentByMenu" resultType="com.cxygzl.biz.entity.Menu">
        WITH recursive temp AS (
            SELECT * FROM menu r WHERE r.id=#{menuId}
            UNION ALL
            SELECT r.* FROM menu r,temp t WHERE t.parent_id = r.id
        )select * from temp
    </select>

</mapper>
